* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 70px;
  text-align: center;
  width: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.arrow-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  cursor: pointer;
}

.arrow-container-incline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.arrow-container-vertical {
  display: flex;
  position: relative;
}

.vertical-line {
  border: 3px solid black;
  border-radius: 100px;
  background-color: black;
  height: 81px;
  position: absolute;
  right: 6px;
  bottom: -3px;
}

.top-line {
  border: 3px solid black;
  width: 70px;
  transform: rotate(145deg);
  border-radius: 100px;
  background-color: black;
}

.bot-line {
  border: 3px solid black;
  width: 70px;
  transform: rotate(-145deg);
  border-radius: 100px;
  background-color: black;
}

.vertical-line.right {
  right: -11px;
  bottom: -2px;
}

.top-line.right {
  transform: rotate(-145deg);
}

.bot-line.right {
  transform: rotate(145deg);
}

.values-container {
  min-width: 700px;
  height: 600px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.values-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 80%;
  min-width: 620px;
  width: 620px;
  position: relative;
}

.value {
  transition: all 0.5s ease;
  height: 100%;
  background-color: #4CAF50;
  width: 45px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: absolute;
  bottom: 0;
}

.value-input {
  font-size: 20px;
  width: 80%;
  text-align: center;
}

.button-container {
  height: 39px;
}

.button {
  padding: 10px 20px;
  width: 75px;
}

.hidden {
  display: none;
}