* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.values-container {
  width: 700px;
  height: 600px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.values-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 80%;
  width: 620px;
  position: relative;
}

.value {
  transition: all 0.5s ease;
  height: 100%;
  background-color: rgb(52, 199, 89);
  width: 45px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: absolute;
  bottom: 0;
}

.value-input {
  font-size: 20px;
  width: 80%;
  text-align: center;
}

.button-container {
  height: 39px;
}

.button {
  padding: 10px 20px;
}

.hidden {
  display: none;
}